body {
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.gallery {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
}

input {
  padding: 0.5em 0.5em;
  border-radius: 4px;
  border: solid 1px gray;
  outline: none;
  width: 300px;
  visibility: hidden;
}

.gallery .item {
  text-align: center;
}
